# Ignore configuration files that may contain sensitive information.
build/phing/build.properties
local.*

# Ignore drupal core.
docroot/core

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private

# Ignore contrib modules. These should be created during build process.
docroot/modules/contrib
docroot/themes/contrib
docroot/profiles/contrib
docroot/libraries
drush/contrib

# Ignore build artifacts
/deploy
bin/*
tmp
install/bin
reports
deploy_key

# Local testing config
tests/behat/local.yml

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpathk

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# User-specific stuff:
.idea/

#XHProf
xhprof_*

#Composer vendor
vendor/
vendor/.git

#Sass
.sass-cache
*.css.map

#Netbeans IDE
nbproject
nbproject/*

