# Ignore composer.lock to allow highest/lowest testing.
composer.lock

# Ignore blted8 files
blted8/composer.lock
blted8/vendor

# Ignore config files
/blt.yml
local.*

build

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpathk

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

template/docroot/.csslintrc
template/docroot/.editorconfig
template/docroot/.eslintignore
template/docroot/.eslintrc
template/docroot/.eslintrc.json
template/docroot/.gitattributes
template/docroot/.htaccess
template/docroot/index.php
template/docroot/robots.txt
template/docroot/sites/default/default.settings.php
template/docroot/sites/default/services.yml
template/docroot/sites/default/settings.php
template/docroot/sites/default/default.services.yml
template/docroot/sites/development.services.yml
template/docroot/sites/example.settings.local.php
template/docroot/sites/example.sites.php
template/docroot/update.php
template/docroot/web.config

# PHPStorm
.idea

#XHProf
xhprof_*

#Composer vendor
vendor/
vendor/.git

#Sass
.sass-cache
*.css.map

#Netbeans IDE
nbproject
nbproject/*

#Exports
*.gz
*.sql
*.zip

# Some files should be excluded from blt but not from the projects it
# generates, so they must be specified here rather than in template/.gitignore.
template/.idea/.name
template/composer.lock

CHANGELOG.partial
build
cache/commands/*

# Ignore the local deployment identifier.
deployment_identifier

# Ignore phpunit.xml, only phpunit.xml.dist should be committed.
phpunit.xml
