# Note that the example .travis.yml file for child projects lives in /install.
sudo: required
language: php
dist: trusty

php:
  - 5.6

matrix:
  fast_finish: true

env:
  global:
    - DEPLOY_SOURCE_BRANCH=8.x
    - COMPOSER_BIN=$TRAVIS_BUILD_DIR/vendor/bin
    - BLT_DIR=$TRAVIS_BUILD_DIR
    - IS_PULL_REQUEST=$TRAVIS_PULL_REQUEST

cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.console"
  - "$HOME/.drush/cache"
  - "$HOME/.nvm"
  - "vendor"

addons:
  ssh_known_hosts:
    - svn-5223.devcloud.hosting.acquia.com

before_install:
  # Decrypt private SSH key id_rsa_blt.enc, save as ~/.ssh/id_rsa_blt.
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then openssl aes-256-cbc -K $encrypted_c0b166e924da_key -iv $encrypted_c0b166e924da_iv -in id_rsa_blt.enc -out ~/.ssh/id_rsa -d; chmod 600 ~/.ssh/id_rsa; ls -lash ~/.ssh; eval "$(ssh-agent -s)"; ssh-add ~/.ssh/id_rsa; fi
  - source ${BLT_DIR}/scripts/travis/setup_environment

install:
  - source ${BLT_DIR}/scripts/travis/setup_project

script:
  - source ${BLT_DIR}/scripts/blt/ci/smoke_tests.sh
  - source ${BLT_DIR}/scripts/blt/ci/create_blt_project.sh
  # Call targets in the new 'blt-project' project.
  - blt ci:build:validate:test -Dcreate_alias=false -Dbehat.run-server=true -Dbehat.launch-phantom=true -Dblt.verbose=true
  # Run 'blt-project' tests.
  - phpunit ${BLT_DIR}/tests/phpunit --group blt-project
  - source ${BLT_DIR}/scripts/blt/ci/doctor.sh
  # Deploy build artifact.
  - blt deploy:build
  - source ${BLT_DIR}/scripts/blt/ci/test_artifact.sh

deploy:
  - provider: script
    # Deploys build artifact to acquia-pso/blted8 on GitHub.
    script: ${BLT_DIR}/scripts/travis/deploy_branch && phpunit $BLT_DIR/tests/phpunit --group=deploy
    skip_cleanup: true
    on:
      branch: $DEPLOY_SOURCE_BRANCH
      php: 5.6
