---
language: php

os: linux

version: ~> 1.0

php: "7.3"

addons:
  chrome: stable

cache:
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"
    - "$HOME/.rvm"
    - "${TMPDIR:-/tmp}/phpstan/cache"

services:
  - mysql

env:
  global:
    # ORCA configuration.
    - ORCA_SUT_NAME=acquia/blt
    - ORCA_SUT_BRANCH=12.x
    - ORCA_VERSION=^2
    - ORCA_PHPCS_STANDARD=AcquiaDrupalStrict
    # Custom configuration.
    - COMPOSER_BIN=$TRAVIS_BUILD_DIR/vendor/bin
    - BLT_DIR=$TRAVIS_BUILD_DIR
    - DRUPAL_CORE_HEAD=9.0.x-dev
    # Change to 1 to debug failed tests.
    - BLT_PRINT_COMMAND_OUTPUT=1

jobs:
  fast_finish: true
  include:
    # Standard ORCA jobs.
    - { name: "Static code analysis", env: ORCA_JOB=STATIC_CODE_ANALYSIS }
    - { name: "D9 readiness test", php: "7.3", env: ORCA_JOB=D9_READINESS}

before_install:
  # Exit build early if only documentation was changed in a Pull Request.
  - source ${BLT_DIR}/scripts/travis/exit_early
  - composer self-update 1.10.16
  # Install ORCA.
  - composer create-project --no-dev acquia/orca ../orca "$ORCA_VERSION"
  - ../orca/bin/travis/before_install.sh

install: ../orca/bin/travis/install.sh

before_script: ../orca/bin/travis/before_script.sh

script: ../orca/bin/travis/script.sh

before_cache: ../orca/bin/travis/before_cache.sh

after_success: ../orca/bin/travis/after_success.sh

after_failure: ../orca/bin/travis/after_failure.sh

after_script: ../orca/bin/travis/after_script.sh
