# Note that the example .travis.yml file for child projects lives in /install.
sudo: false
language: php

php:
  - 5.6

cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.console"
  - "$HOME/.drush/cache"
  - "$HOME/.nvm"
  - "vendor"

notifications:
  # slack: acquia:KKfgpOkDhcO26Erv5uoZMfdP

addons:
  ssh_known_hosts:
  - svn-5223.devcloud.hosting.acquia.com

before_install:
  # Decrypt private SSH key id_rsa_blt.enc, save as ~/.ssh/id_rsa_blt.
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then openssl aes-256-cbc -K $encrypted_665bd7a0b921_key -iv $encrypted_665bd7a0b921_iv -in id_rsa_blt.enc -out ~/.ssh/id_rsa_blt -d; chmod 600 ~/.ssh/id_rsa_blt; fi
  - ls -lash ~/.ssh
  - git clone blt8@svn-5223.devcloud.hosting.acquia.com:blt8.git
  - nvm install 0.12
  - nvm use 0.12
  - composer selfupdate
  - phpenv config-rm xdebug.ini
  # Enable $_ENV variables in PHP.
  - echo 'variables_order = "EGPCS"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # Ensure that always_populate_raw_post_data PHP setting: Not set to -1 does not happen.
  - echo "always_populate_raw_post_data = -1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - git config --global user.name "Travis-CI"
  - git config --global user.email "noreply@travis-ci.org"
  - mysql -e 'CREATE DATABASE drupal;'

install:
  - composer install
  - export PATH=$TRAVIS_BUILD_DIR/vendor/bin:$PATH
  # Initialize drupal consile default configuration.
  - drupal init

before_script:
  # Clear drush release history cache, to pick up new releases.
  - rm -f ~/.drush/cache/download/*---updates.drupal.org-release-history-*
  # Verify that no git diffs (caused by line ending variation) exist.
  - git diff --exit-code

script:
  # Ensure code quality of 'blt' itself.
  - phpcs --standard=./vendor/drupal/coder/coder_sniffer/Drupal/ruleset.xml tests
  # Generate a new 'blted' project.
  - ./blt.sh configure
  # The local.hostname must be set to 127.0.0.1:8888 because we are using drush runserver to run the site on Travis CI.
  - drupal yaml:update:value project.yml project.local.hostname '127.0.0.1:8888'
  - ./blt.sh create
  # Move to the target directory.
  - cd ../blted8
  # Call targets in the new 'blted' project.
  - ./blt.sh ci:build:validate:test -Dcreate_alias=false -Dbehat.run-server=true -Dbehat.launch-phantom=true
  # Deploy build artifact.
  - ./blt.sh deploy:artifact:build -Ddeploy.commitMsg="Automated commit by Travis CI for Build ${TRAVIS_BUILD_ID}" -Ddeploy.branch="8.x-build"
  # Add Drupal VM config to repo.
  - ./blt.sh vm:init
  # Switch back to 'blt' directory
  - cd ../blt
  # Run 'blt' phpunit tests, excluding deploy-push tests.
  - phpunit tests/phpunit --exclude-group deploy-push

deploy:
  provider: script
  script: ../blted8/blt.sh deploy:artifact -Ddeploy.commitMsg="Automated commit by Travis CI for Build ${TRAVIS_BUILD_ID}" -Ddeploy.branch="8.x-build" && phpunit tests/phpunit --group=deploy
  skip_cleanup: true
  on:
    branch: 8.x
