# Note that the example .travis.yml file for child projects lives in /install.
sudo: false
language: php

php:
  - 5.6

env:
  - SSH_PRIVATE_PATH=~/.ssh/id_rsa_bolt

cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"
  - "$HOME/.nvm"
  - "vendor"

notifications:
  # slack: acquia:KKfgpOkDhcO26Erv5uoZMfdP

addons:
  ssh_known_hosts:
  - svn-5223.devcloud.hosting.acquia.com

before_install:
  - nvm install 0.12
  - nvm use 0.12
  - composer selfupdate
  - phpenv config-rm xdebug.ini
  # Enable $_ENV variables in PHP.
  - echo 'variables_order = "EGPCS"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # Ensure that always_populate_raw_post_data PHP setting: Not set to -1 does not happen.
  - echo "always_populate_raw_post_data = -1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - git config --global user.name "Travis-CI"
  - git config --global user.email "noreply@travis-ci.org"
  - mysql -e 'CREATE DATABASE drupal;'
  - touch $SSH_PRIVATE_PATH
  - echo $SSH_PRIVATE_KEY > "$SSH_PRIVATE_PATH"
  - chmod 600 $SSH_PRIVATE_PATH

install:
  - composer install
  - export PATH=$PATH:$TRAVIS_BUILD_DIR/vendor/bin

before_script:
  # Clear drush release history cache, to pick up new releases.
  - rm -f ~/.drush/cache/download/*---updates.drupal.org-release-history-*
  # Verify that no git diffs (caused by line ending variation) exist.
  - git diff --exit-code

script:
  # Generate a new 'bolted' project.
  - ./bolt.sh configure
  - ./bolt.sh create
  # Call targets in the new 'bolted' project.
  - ../bolted8/bolt.sh build:validate:test -Dcreate_alias=false -Dbehat.run-server=true -Dbehat.launch-phantom=true
  # Validate and run 'bolt' phpunit tests.
  - phpcs --standard=../bolted8/vendor/drupal/coder/coder_sniffer/Drupal/ruleset.xml tests
  - phpunit tests/phpunit/BoltTest.php

deploy:
  provider: script
  script: ../bolted8/scripts/deploy/travis-deploy.sh public-repo-deploy && phpunit tests/phpunit/DeployTest.php
  skip_cleanup: true
  on:
    branch: public-repo-deploy
