---
language: php

php: "7.2"

addons:
  chrome: stable

cache:
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"
    - "$HOME/.rvm"
    - "$TMPDIR/phpstan/cache"

services:
  - mysql

env:
  global:
    # ORCA configuration.
    - ORCA_SUT_NAME=acquia/blt
    - ORCA_SUT_BRANCH=10.x
    - ORCA_VERSION=dev-master
    # Custom configuration.
    - COMPOSER_BIN=$TRAVIS_BUILD_DIR/vendor/bin
    - BLT_DIR=$TRAVIS_BUILD_DIR
    - DRUPAL_CORE_HEAD=8.8.x-dev
    # Change to 1 to debug failed tests.
    - BLT_PRINT_COMMAND_OUTPUT=0

matrix:
  fast_finish: true
  include:
    # Standard ORCA jobs.
    - { name: "Static code analysis", env: ORCA_JOB=STATIC_CODE_ANALYSIS }
    # Custom jobs.
    - env: DRUPAL_CORE_VERSION=default PHPUNIT_EXCLUDE_GROUP='drupal,requires-vm'
    - env: DRUPAL_CORE_VERSION=default PHPUNIT_GROUP='drupal'
    - env: DRUPAL_CORE_VERSION=$DRUPAL_CORE_HEAD
  allow_failures:
    - env: DRUPAL_CORE_VERSION=$DRUPAL_CORE_HEAD
    - env: ORCA_JOB=ISOLATED_DEV
    - env: ORCA_JOB=INTEGRATED_DEV
    - env: ORCA_JOB=CORE_NEXT

before_install:
  # Exit build early if only documentation was changed in a Pull Request.
  - source ${BLT_DIR}/scripts/travis/exit_early
  # Prepare local testing version of blt-project so it can be used by ORCA.
  - cp -r subtree-splits/blt-project /tmp/
  - composer config --global repositories.blt path /tmp/blt-project
  # Install ORCA.
  - composer create-project --no-dev acquia/orca ../orca "$ORCA_VERSION"
  - ../orca/bin/travis/before_install.sh

install:
  - ../orca/bin/travis/install.sh
  - ./bin/travis/install.sh

before_script: ../orca/bin/travis/before_script.sh

script:
  - ./bin/travis/orca-fix.sh
  - ../orca/bin/travis/script.sh
  - ./bin/travis/script.sh

before_cache: ../orca/bin/travis/before_cache.sh

after_success: ../orca/bin/travis/after_success.sh

after_failure: ../orca/bin/travis/after_failure.sh

after_script: ../orca/bin/travis/after_script.sh
