# Note that the example .travis.yml file for child projects lives in /install.
sudo: required
language: php
dist: trusty

php:
  - 5.6
  - 7

matrix:
  fast_finish: true

cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.console"
  - "$HOME/.drush/cache"
  - "$HOME/.nvm"
  - "vendor"

notifications:
  # slack: acquia:KKfgpOkDhcO26Erv5uoZMfdP

addons:
  ssh_known_hosts:
    - svn-5223.devcloud.hosting.acquia.com
  apt:
    packages:
    - mysql-server-5.6
    - mysql-client-core-5.6
    - mysql-client-5.6

before_install:
  # Decrypt private SSH key id_rsa_blt.enc, save as ~/.ssh/id_rsa_blt.
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then openssl aes-256-cbc -K $encrypted_c0b166e924da_key -iv $encrypted_c0b166e924da_iv -in id_rsa_blt.enc -out ~/.ssh/id_rsa -d; chmod 600 ~/.ssh/id_rsa; ls -lash ~/.ssh; eval "$(ssh-agent -s)"; ssh-add ~/.ssh/id_rsa; fi
  - composer selfupdate
  # Disable xdebug.
  - phpenv config-rm xdebug.ini
  # Enable $_ENV variables in PHP.
  - echo 'variables_order = "EGPCS"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # Ensure that always_populate_raw_post_data PHP setting: Not set to -1 does not happen.
  - echo "always_populate_raw_post_data = -1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  # Increase PHP memory limit.
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - git config --global user.name "Travis-CI"
  - git config --global user.email "noreply@travis-ci.org"
  - mysql -u root -e 'CREATE DATABASE drupal;'

install:
  # Load composer dependencies.
  - composer validate --no-check-all --ansi
  # Remove acquia packages from cache before running `composer install`.
  - rm -rf vendor/acquia
  - composer install
  - export PATH=$TRAVIS_BUILD_DIR/vendor/bin:$PATH
  # Install proper version of node for front end tasks.
  - nvm install 4.4.1
  - nvm use 4.4.1
  # Initialize drupal console default configuration.
  - drupal init
  # Initialize xvfb (see https://docs.travis-ci.com/user/gui-and-headless-browsers)
  - sudo apt-get install xvfb
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  # Installs chromedriver to vendor/bin.
  - ./scripts/linux/install-chrome.sh $TRAVIS_BUILD_DIR/vendor/bin

before_script:
  # Clear drush release history cache, to pick up new releases.
  - rm -f ~/.drush/cache/download/*---updates.drupal.org-release-history-*
  # Verify that no git diffs (caused by line ending variation) exist.
  - git diff --exit-code

script:
  # Ensure code quality of 'blt' itself.
  - phpcs --standard=./vendor/drupal/coder/coder_sniffer/Drupal/ruleset.xml tests
  # Generate a new 'blt-project' project.
  - cp -R blt-project ../
  - cd ../blt-project
  - git init
  - git add -A
  # Commit so that susbsequent git commit tests have something to ammend.
  - git commit -m 'Initial commit.'
  # BLT is the only dependency at this point. Install it.
  - composer install -v
  - export PATH=$TRAVIS_BUILD_DIR/../blt-project/vendor/bin:$PATH
  # The local.hostname must be set to 127.0.0.1:8888 because we are using drush runserver to run the site on Travis CI.
  - drupal yaml:update:value project.yml project.local.hostname '127.0.0.1:8888'
  # BLT added new dependencies for us, so we must update.
  - composer update
  # Create a .travis.yml, just to make sure it works. It won't be executed.
  - blt ci:travis:init
  - blt ci:pipelines:init
  # Disable Lightning tests on pull requests.
  - if [[ "$TRAVIS_PULL_REQUEST" == "true" ]]; then echo $'behat:\n  paths:\n    - ${repo.root}/tests/behat' >> project.yml; fi
  # Call targets in the new 'blt-project' project.
  - blt ci:build:validate:test -Dcreate_alias=false -Dbehat.run-server=true -Dbehat.launch-phantom=true
  # Initialize ACSF config.
  - blt acsf:init
  # Ensure that the doctor doesn't report any problems at this point.
  - composer global require "hirak/prestissimo:^0.3"
  - blt doctor
  # Add Drupal VM config to repo.
  - blt vm -Dvm.boot='false'
  # Update blt symlink prior to deploy.
  - composer config repositories.blt.url '"../../blt"'
  - rm composer.lock
  # Deploy build artifact.
  - blt deploy:build
  # Switch back to 'blt' directory.
  - cd ../blt
  # Run 'blt' phpunit tests, excluding deploy-push tests.
  - phpunit tests/phpunit --group blt --exclude-group deploy-push

deploy:
  provider: script
  script: cd ../blt-project && blt deploy -Ddeploy.commitMsg="Automated commit by Travis CI for Build ${TRAVIS_BUILD_ID}" -Ddeploy.branch="8.x-build" && phpunit tests/phpunit --group=deploy
  skip_cleanup: true
  on:
    branch: 8.x
    php: 5.6
