<!-- phpunit.xml.dist -->
<phpunit>
  <testsuites>
    <testsuite name="BLT Test Suite">
      <directory>tests/phpunit</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/Robo</directory>
    </whitelist>
  </filter>
</phpunit>
