# This file will be copied into the docroot of the build artifact.
local.*
*.local
project.local.yml

# Ignore paths that contain user-generated content.
docroot/sites/*/files
/files-private
docroot/sites/*/private

# Ignore build artifacts
tmp
reports

# OS X
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpathk

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# User-specific stuff:
.idea/

#XHProf
xhprof_*

#Sass
.sass-cache
*.css.map

#Netbeans IDE
nbproject
nbproject/*

#DrupalVM
.vagrant/
