# @todo Move to subkey of tests.
behat:
  config: ${repo.root}/tests/behat/local.yml
  profile: local
  # The URL of selenium server. Must correspond with setting in behat's yaml config.
  selenium:
    port: 4444
    url: http://127.0.0.1:${behat.selenium.port}/wd/hub
  chrome:
    port: 9222
    args: ""
  # An array of paths with behat tests that should be executed.
  paths:
    # - ${docroot}/modules
    # - ${docroot}/profiles
    - ${repo.root}/tests/behat
  tags: '~ajax&&~experimental&&~lightningextension'
  extra: ''
  # May be chrome, selenium, phantomjs.
  web-driver: chrome

bin.path: vendor/bin

blt:
  update:
    ignore-existing-file: ${blt.root}/scripts/blt/ignore-existing.txt
  config-files:
    project: ${repo.root}/blt/blt.yml
    local: ${repo.root}/blt/local.blt.yml
    example-local: ${repo.root}/blt/example.local.blt.yml
    schema-version: ${repo.root}/blt/.schema_version
  command-cache-dir: ${blt.root}/cache/commands

composer:
  bin: ${repo.root}/${bin.path}
  extra: ''

cm:
  # Possible values: core-only, config-split, features, none.
  strategy: config-split
  core:
    # The parent directory for configuration directories, relative to the docroot.
    path: ../config
    # The default config key to use for imports. This is the key used in Drupal's global $config_directories variable.
    # E.g., $config_directories['sync']. It must have a corresponding key in cm.core.dirs. E.g., `cm.core.dirs.sync`.
    key: sync
    dirs:
      # Corresponding value is defined in config.settings.php.
      sync:
        path: ${cm.core.path}/default
  features:
    no-overrides: true

deploy:
  # If true, dependencies will be built during deploy. If false, you should commit dependencies directly.
  build-dependencies: true
  dir: ${repo.root}/deploy
  exclude_file: ${blt.root}/scripts/blt/deploy/deploy-exclude.txt
  exclude_additions_file: ${repo.root}/blt/deploy-exclude-additions.txt
  gitignore_file: ${blt.root}/scripts/blt/deploy/.gitignore
  git:
    # If true, deploys will fail if there are uncommitted changes.
    failOnDirty: true

# File and Directory locations.
docroot: ${repo.root}/docroot

# Drupal Account Credentials. These are used for installing Drupal.
drupal:
  account.mail: no-reply@acquia.com
  locale: en
  local_settings_file: ${docroot}/sites/${site}/settings/local.settings.php
  settings_file: ${docroot}/sites/${site}/settings.php
  db:
    database: drupal
    username: drupal
    password: drupal
    host: localhost
    port: 3306

drush:
  bin: ${composer.bin}/drush
  dir: ${docroot}
  alias-dir: ${repo.root}/drush/sites
  sanitize: true

git:
  # The value of a hook should be the file path to a directory containing an
  # executable file named after the hook. Changing a hook value to 'false' will disable it.
  # You should execute `blt blt:init:git-hooks` after modifying these values.
  hooks:
    pre-commit: ${blt.root}/scripts/git-hooks
    commit-msg: ${blt.root}/scripts/git-hooks
  commit-msg:
    # Commit messages must conform to this pattern.
    pattern: "/(^${project.prefix}-[0-9]+(: )[^ ].{15,}\\.)|(Merge branch (.)+)/"

# You may provide a list of sites for BLT to run commands against,
# otherwise BLT will generate this sites list based on directories
# in ${docroot}/sites/*/
#
# multisites:
#  - default

# @todo Move to subkey of tests.
reports:
  localDir: ${repo.root}/reports
  remoteDir: reports

# @todo Move to subkey of validate.
phpcs:
  standard: Drupal,DrupalPractice

#$ @todo Move to subkey of fix.
phpcbf:
  filesets:
    - files.php.custom.modules
    - files.php.tests
    - files.php.custom.themes
    - files.frontend.custom.themes

# @todo Move to subkey of tests.
phpunit:
  - path: '${repo.root}/tests/phpunit'
    config: '${docroot}/core/phpunit.xml.dist'
  # Customization for one or more custom phpunit test locations
  # and if the core (or custom) config file should be included as a -c parameter.
  # - path: '${docroot}/modules/custom/<your_module>'
  #   config: '${docroot}/core/phpunit.xml.dist'
  # - file '${docroot}/modules/custom/tests/MyTest.php'
  #   class 'My/Example/Test'
  # - path: '${docroot}/core'
  #   config: '${docroot}/core/phpunit.xml.dist'

project:
  local:
    uri: ${project.local.protocol}://${project.local.hostname}

setup:
  # Valid values are install, sync, import.
  strategy: install
  # If setup.strategy is import, this file will be imported. File path is
  # relative to drupal docroot directory.
  dump-file: null

sync:
  # By default, files are not synced during sync:refresh.
  # Set this value to 'true' or pass -D sync.files=true
  # to override this behavior.
  files: false
  # Paths to exclude during file syncing operations.
  exclude-paths:
    - styles
    - css
    - js
  commands:
    - source:build:composer
    - blt:init:settings
    - drupal:sync:db
    - drupal:update
    - source:build:frontend

# Custom tasks that are triggered at pre-defined times in the build process.
# The tasks hook into BLT's existing commands.
command-hooks:
  # Executed when front end dependencies should be installed.
  frontend-reqs:
    # E.g., ${docroot}/themes/custom/mytheme
    dir: ${docroot}
    # E.g., '[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" && nvm use 4.4.4 && npm install'
    command: null
  # Executed when front end assets should be generated.
  frontend-assets:
    # E.g., ${docroot}/themes/custom/mytheme
    dir: ${docroot}
    # E.g., '[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" && nvm use 4.4.4 && npm build'
    command: null
  frontend-test:
    # E.g., ${docroot}/themes/custom/mytheme
    dir: ${docroot}
    # E.g., `npm test`.
    command: null
  pre-commit:
    # E.g., ${docroot}
    dir: ${docroot}
    # E.g., `php -l`.
    command: null
  # Executed before configuration is imported.
  pre-config-import:
    dir: ${docroot}
    command: null
  # Executed after deployment artifact is created.
  post-deploy-build:
    dir: '${deploy.dir}/docroot'
    command: null
  # Executed after source:build is run.
  post-setup-build:
    dir: ${docroot}
    command: null
  # Executed after deploy:push-all is run.
  post-deploy:
    dir: ${docroot}
    command: null

tests:
  run-server: false
  # This is used for ad-hoc creation of a server via `drush runserver`.
  server:
    port: 8888
    url: http://127.0.0.1:${tests.server.port}

validate:
  deprecated:
    filesets:
      - files.php.custom.modules
  lint:
    filesets:
      - files.php.custom.modules
      - files.php.custom.themes
      - files.php.tests
  twig:
    filesets:
      - files.twig
    # Add any custom Twig filters for linter to ignore.
    filters: { }
    # Add any custom Twig functions for linter to ignore.
    functions: { }
  yaml:
    filesets:
      - files.yaml

vm:
  enable: false
  config: ${repo.root}/box/config.yml
  vagrant:
      hostname: ${project.local.hostname}
