<?xml version="1.0"?>
<!--
   To override this file, copy it to phpcs.xml and then modify.
   @see https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml#the-annotated-sample-file
-->
<ruleset name="blt">
  <description>BLT PHP_CodeSniffer standards overrides.</description>

  <!-- By default, warnings and errors cause an exception. -->
  <config name="ignore_warnings_on_exit" value="0" />
  <config name="ignore_errors_on_exit" value="0" />

  <!-- Set ignore extensions. -->
  <!-- @see https://www.drupal.org/node/2867601#comment-12075633 -->
  <arg name="ignore" value="*.css,*.md,*.txt,*.png,*.gif,*.jpeg,*.jpg,*.svg"/>

  <!-- Use colors in output. -->
  <arg name="colors"/>
  <!-- Show progress. -->
  <arg value="p"/>

  <!-- Include existing standards. -->
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice">
    <!-- Ignore specific sniffs. -->
    <exclude name="DrupalPractice.InfoFiles.NamespacedDependency"/>
  </rule>

  <file>blt/src</file>
  <file>docroot/modules/custom</file>
  <file>docroot/themes/custom</file>
  <file>tests</file>

  <exclude-pattern>*/behat</exclude-pattern>
  <exclude-pattern>*/node_modules</exclude-pattern>
  <exclude-pattern>*/vendor</exclude-pattern>

</ruleset>
