<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.6/phpunit.xsd">

    <php>
        <const name="BLT_ENV" value="ci"/>
        <const name="BLT_ALIAS" value="self"/>
        <const name="BLT_MULTISITE_NAME" value="default"/>
    </php>

</phpunit>
