name: Release Drafter

on:
  push:
    branches:
      - main
  workflow_run:
    types:
      - "completed"
    workflows:
      - "Auto-label pull requests"
      - "Auto-merge dependency updates"

jobs:
  update_release_draft:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: release-drafter/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
